<!---Coisas que serão exibidas na página--->
<div class="aula">
    <div class="description">
        <h1 class="title">Segundo Componente</h1>
        <h2>
          O segundo Componente, foi criado pelo cmd, do próprio VScode assim já gera tudo que vamos precisar, é mais rápido e prático.<br>
          Mas você deve está dentro da pasta do projeto que está criando.<br>
          Colocar esse comando <b>ng g component *nome do componente que deseja criar*</b>,
          dá "Enter" e será gerado o seu componente, com tudo o que vai precisar.<br>
          <br>
          <div class="imagem">
              <img src="./assets/cmd-vscode.png" alt="print tela do computador" style="width: -webkit-fill-available;">
          </div>
          <br>
          Já vai colocar todos os componentes: .CSS, .HTML, .SPEC.TS, .TS .<br>
          <br>
          <div class="imagem">
              <img src="./assets/componentes-html-css-ts.png" alt="print do programa">
          </div>
          <br>
          O que devo fazer , para ele aparecer na página? <br>
          Para isso vai no <b>app-component.html</b>, e faz como está na imagem abaixo:<br>
          <br>
          <div class="imagem">
              <img src="./assets/carregar.png" alt="print tela programa">
          </div>
          <br>
          Ai tudo que você colocar no componente que você criou, na parte de "HTML" exemplo,<br>
          <b>segundo-component.component.html</b>, vai aparecer na página, como esse texto, que foi digitado lá.<br>
          <br>
          E no <b>segundo-component.component.css</b>, vai está os estilos somente para este componente, que vai modificar somente o texto no "html", desse componente,<br>
          que vamos falar mais sobre ele embreve.<br>
          <br>
          Já o <b>segundo-component.component.ts</b> é a classe, onde será acrescentado,<br>
          as propriedades "variáveis", métodos,etc.., como veremos nas próximas aulas<br>
        </h2>
        <br>
    </div>
</div>








