<!--Aula-Interpolaçao-->
<div class="aula">
  <div class="description">
  <h1 class="title">Navegação entre páginas</h1>
     <h2>
        <br>
        <section class="criarComponente">
           Eu criei um novo componente, chamado "event-binding",<br>
           Para criar, vai no pront de comando do "VScode", verifique se você está dentro da pasta do seu projeto,<br>
           coloque esse comando <b>ng g c </b><span>*nome do componente que seja criar*</span>, dá "enter" e ele vai criar para você.<br>
           Esse comando "ng g c" significa = <b>ng generate component</b>.<br>
           <br>
           <b>Atenção:</b> já coloque o componente criado para aparecer no template,<br>
           para isso vai no componente <b>app.component.html</b>, adiciona o componente criado,<br>
           <b>app-event-binding</b>, verifique se está aparecendo no template e vamos começar...<br>
        </section>
        <br>

        Veja como fica no código:<br>
        <div class="imagem">
              <img src="/assets/event-1.png" alt="print do código">
        </div>

        <br>
     </h2>
  </div>
</div>


