.footer {
  position: relative;
  background-color: var(--light-gray);
  color: var(--gray);
  font-size: 18px;
}

.footer__container {
  background-color: rgba(255, 174, 0, 0.205);
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 20px;
}

.footer__copyright {
  text-align: center;
  margin-top: 20px;
  background-color: var(--light-gray-2);
  font-weight: bold;
  padding: 20px;
  color: var(--gray);
  background-color: rgba(63, 77, 204, 0.267);

}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 5px;

}

.footer__about-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  width: 900px;
  text-align: justify;
}


.footer i {
  color: var(--orange);
}

.footer li {
  margin: 10px 0;
}

