<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">sobre</h2>
      <p class="footer__about-text">
        Site criado durante o curso de Angular pela empresa xxxxxxx,<br>
        para melhor entendimento pessoal, eu resolvi fazer das aulas um site,<br>
        Quando estava fazendo as aulas, anotava, tirava print.<br>
        Esse site é como se fosse uma apostilha, um bloco de notas das aulas que fiz.
        O projeto final, criado depois dessas aulas está no meu github,<br>
         o endereço do projeto é <a href="https://giovanep4mg.github.io/Proway-Computers/">Proway Computers</a>.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li>
          <a href="https://www.facebook.com/giovani.martins3/">
            <i class="fa-brands fa-facebook"></i>
             Facebook
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/giovanineguinho/">
            <i class="fa-brands fa-instagram"></i>
            Instagram
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/giovani-teodoro-martins-4a27a4252/">
            <i class="fa-brands fa-linkedin"></i>
              Linkedin
          </a>
        </li>
        <li>
          <a href="https://github.com/giovanep4mg">
            <i class="fa-brands fa-github"></i>
              Github
          </a>
        </li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy;Todos os direitos reservados. 2023 Giovani Teodoro Martins
    &
  </section>
</footer>


