<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">sobre</h2>
      <p class="footer__about-text">
        Site criado durante o curso de Angular pela empresa xxxxxxx,
        para melhor entendimento pessoal meu, eu resolvi fazer das aulas um site,
        onde eu fazendo as aulas, anotava, tirava print.
        Esse site é como uma apostilha, um bloco de notas das aulas que fiz.
        O projeto final, criado depois dessas aulas está no meu github,
        o endereço é <a href="">github</a>.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li>
          <a href="https://www.facebook.com/giovani.martins3/">
            <i class="fa-brands fa-facebook"></i>
             Facebook
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/giovanineguinho/">
            <i class="fa-brands fa-instagram"></i>
            Instagram
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/giovani-teodoro-martins-4a27a4252/">
            <i class="fa-brands fa-linkedin"></i>
              Linkedin
          </a>
        </li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy;Todos os direitos reservados. Giovani Teodoro Martins
  </section>
</footer>


