*{
  margin: 2px;
  padding: 2px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: -30px;
  padding: -20px;
}
.criarComponente{
  border: 2px solid black;
  margin: 3px;
  padding: 3px;
}
.criarComponente span{
  color: blue;
}

button {
  padding: 10px;
  background-color: rgb(0, 155, 47);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  transition: filter .3s ease-in-out;
  display: block;
  margin: 10px 0;
}

button:hover {
  filter: brightness(1.4);
}
.title{
  color: blue;
  text-align: center;
  text-decoration: underline;
  font-size: 55px;
}
.description {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
b{
  color: red;
}
