<div class="header">
  <div class="title">
    <span class="title-span1">Aulas</span>
    <span class="title-span2">sobre os </span>
    <span class="title-span3">Fundamentos do</span>
    <span class="title-span4">Angular</span>
  </div>
  <div class="seila">
      <nav class="navegar">
        <ul class="ul">
          <li class="button">
            <a routerLink="angular">Angular</a>
          </li>
          <li>
            <a routerLink="primeiro-componente">Primeiro Componente</a>
          </li>
          <li>
            <a routerLink="segundo-componente">Segundo Componente</a>
          </li>
          <li>
            <a routerLink="interpolacao-de-texto">Interpolação de texto</a>
          </li>
          <li>
            <a routerLink="piper">Piper</a>
          </li>
          <li>
            <a routerLink="pipe-customizado">Pipe Customizado</a>
          </li>
          <li>
            <a routerLink="carregar-imagens">Carregar Imagens</a>
          </li>
          <li>
            <a routerLink="event-binding">Event Binding</a>
          </li>
          <li>
            <a routerLink="two-way-data-binding">Two-Way-Data-Binding</a>
          </li>
          <li>
            <a routerLink="renderizando-listas">Renderizando Listas</a>
          </li>
      </ul>
      </nav>
  </div>
</div>
