<div class="header">
  <div class="title">
    <span class="title-span1">Aulas</span>
    <span class="title-span2">sobre os </span>
    <span class="title-span3">Fundamentos do</span>
    <span class="title-span4">Angular</span>
  </div>
  <div class="seila">
      <nav class="navegar">
        <!--1 linha de links-->
        <ul class="ul">
          <li class="button">
            <a routerLink="angular">Angular</a>
          </li>
          <li>
            <a routerLink="primeiro-componente">Primeiro Componente</a>
          </li>
          <li>
            <a routerLink="segundo-componente">Segundo Componente</a>
          </li>
          <li>
            <a routerLink="interpolacao-de-texto">Interpolação de texto</a>
          </li>
          <li>
            <a routerLink="piper">Piper</a>
          </li>
          <li>
            <a routerLink="pipe-customizado"> Piper Customizado</a>
          </li>
        </ul>
        <!--separa-->
        <ul class="ul">
          <li>
            <a routerLink="carregar-imagens">Carregar Imagens</a>
          </li>
          <li>
            <a routerLink="event-binding">Event Binding</a>
          </li>
          <li>
            <a routerLink="two-way-data-binding">Two-Way-Data-Binding</a>
          </li>
          <li>
            <a routerLink="renderizando-listas">Renderizando Listas</a>
          </li>
          <li>
            <a routerLink="personalizado">Componente Personalizado</a>
          </li>
        </ul>
          <!--separa-->
        <ul class="ul">
          <li>
            <a routerLink="interacao-componentes">Componente Pai e Filho</a>
          </li>
          <li>
            <a routerLink="card"> Ng Content</a>
          </li>
          <li>
            <a routerLink="service1"> Serviço </a>
          </li>
          <li>
            <a routerLink="ciclo-de-vida-pai"> Ciclo de Vida de um componente</a>
          </li>
          <li class="button">
            <a routerLink="roteamento"> Roteamento </a>
          </li>
          <li class="button">
            <a routerLink="navegacao-paginas"> Navegação entre páginas </a>
          </li>
        </ul>
        <ul class="ul">
          <li class="button">
            <a routerLink="pagina-nao-encontrada"> Página Não Encontrada e Redirecionamento</a>
          </li>
          <li class="button">
            <a routerLink="parametro-rota"> Parâmetros das rotas</a>
          </li>
          <li class="button">
            <a routerLink="lazy-loading"> Lazy loading</a>
          </li>
          <li class="button">
            <a routerLink="lazy-loading"> Lazy loading</a>
          </li>
          <li class="button">
            <a routerLink="router-guard"> Router Guard</a>
          </li>
        </ul>
      </nav>
  </div>
</div>
