<div class="aula">
    <div class="description">
      <h1 class="title">O que é o Angular</h1>
      <h2>
        O Angular é uma plataforma de desenvolvimento, voltada para o <b>Front-End</b>,<br>
        de aplicações web.<br>
        Nessa plataforma, estão incluidos um frames works, baseado em componentes, uma série de bibliotecas que vão te ajudar durante o desenvolvimento, uma suite, build e teste que te ajudam no seu projeto.<br>
        Indicado para projetos de pequeno, de médio e de grande porte.<br>
      </h2>
    </div>
</div>
