<div class="todoSite">
  <h1>Bloco de notas</h1>
  <div class="header">
    <h1>Cabeçario</h1>
    <div class="description">
      <h2>
        Depois de cria o projeto, com o nome que você desejar.<br />
        Crie um novo componente com o nome de "header", usando o comando
        <b>ng g component header</b><br />
        No <b>header.component.html</b>, crie essas tags:<br />
        <div class="fazer-header">
          "header" que será todo o Cabeçario,<br />
          "h1" que é para o titulo, <br />
          Dentro do "h1", coloque um "span", para dá efeito diferente no
          titulo.<br />
        </div>
        <div class="fazer-menu">
          Criando agora um menu de navegação, para isso crie a tag "nav" e
          dentro dela coloque essas tags:<br />
          "ul" para criar uma coluna ,<br />
          "l1" para cria uma linha, serão 5 "li", todos links.<br />
          Na primeira "li", coloque como um link, essa será o "Produto".<br />
          Na segunda "li", será "carrinho", que será também um link<br />
          Coloque os iconis, que tem que copiar do site <b>Font Asewsome</b>,
          terá iconi o carinho,e os contatos.<br />
          Coloque os estilos que estão na pasta "style para aula 6-B" .<br />
          Coloque os nomes das classes, seguindo os nomes que estão nos
          styles.<br />
        </div>
      </h2>
    </div>
  </div>
</div>
